node_modules
*/node_modules
**/node_modules
dist
*/dist
**/dist
.git
.gitignore
.env
.env.local
*.log
misc
tests
.vscode
.github
.editorconfig
Dockerfile
.dockerignore
README.md
*.md
**/*.test.ts
**/vitest.config.ts